:root {
    --primary-color: #E1BC21;
    --secondary-color: #090909;
    --tertiary-color: #e7a600;
    --text-color: #fbfcff;
    --background-color: #FAFAFD;
    --white-color: #1a1818;
}

[data-theme="dark"] {
    --primary-color: #090909;
    --secondary-color: #ccb100;
    --tertiary-color: #e7a600;
    --text-color: #E2BC21;
    --background-color: #E2BC21;
    --white-color: #000000;
}

.blogs-section .blog {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
    color: var(--white-color);
    align-items: center;
    justify-content: space-between;
}
/* 
.blog-image {
    width: 90%;
    margin: 40px 0;
} */

.blog-image img {
    width: 100%;
}

.main {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}