:root {
    --primary-color: #4F7DBE;
    --secondary-color: #a6b6ff;
    --tertiary-color: #1053b9;
    --text-color: #fbfcff;
    --background-color: #FAFAFD;
    --white-color: #1b1b1b;
}

[data-theme="dark"] {
    --primary-color: #a6b6ff;
    --secondary-color: #4F7DBE;
    --tertiary-color: #b0bbff;
    --text-color: #003e77;
    --white-color: #c9c9c9;
    --background-color: #003e77;
}

.blogs-section .blog {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: auto;
    color: var(--white-color);
    align-items: center;
    justify-content: space-between;
}

.blog-image {
    width: 90%;
    margin: 40px 0;
}

.blog-image img {
    width: 100%;
}

.main {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}